<th:block xmlns:th="https://www.thymeleaf.org">
<!-- **********Header********** -->
	<div th:fragment="header" class="resizable">
		<div class="col-md-12">
		<div class="row">
		<img th:src="@{/images/newHeaderss.jfif}" class="img-fluid" style="height: 100%; width: 100%;" alt=" Logo">	
		</div>	
		</div>
	</div>
	
 <!--****************Top Menu ****************-->	
  	<div th:fragment="topmenu" class="resizable" th:if="${session.user != null}">
    <!-- Start Menu -->
    <nav id='menu'>
        <input type='checkbox'/>
        <label>&#8801;<span>Navigation</span></label>
        <ul>
            <li th:if="${session.user != null}">
                <a th:href="@{/Welcome}">
                    <i class="fas fa-home"></i>&nbsp;Home
                </a>
            </li>
            <li th:if="${session.user != null and session.user.designation == 'DEO'}">
                <a th:href="@{/AppForm}">
                    <i class="fas fa-tachometer-alt"></i>&nbsp;test
                </a>
            </li>
            <li th:if="${session.user != null and session.user.designation != 'DC'}">
                <a th:href="@{/AppForm}">
                    <i class="fas fa-tachometer-alt"></i>&nbsp;test</a>
            </li>
            <li th:if="${session.user != null and session.user.designation != 'DEO'}">
                <a th:href="@{/dashboard}">
                    <i class="fas fa-globe"></i>&nbsp;Dashboard
                </a>
            </li>
          <li th:if="${session.user != null and session.user.designation != 'DEO' and session.user.designation != 'DC'}">
		  
        </ul>
    </nav>
</div>

<!-- End Menu -->		
  		  
	

<!-- **********Left Panel********** -->
<div th:fragment="lPanel" th:if="${pageName == 'WelcomePage' || pageName == 'taskManager'}">
    <div class="nav-side-menu">
        <!-- Profile widget --> 
        <div class="shadow rounded overflow-hidden profile-background">
            <div class="px-1 py-2 text-center"><br>
                <img th:src="@{/images/iconns.jpg}" alt="officer pic" width="60" height="60" class="rounded-circle">
                <div class="row" style="margin-left: 10px">
                    <span style="margin-left: 15px;">User: 
                        <span class="mt-0 mb-0 text-white" th:text="${session.user != null ? session.user.name : 'Admin'}"></span>
                    </span>
                    <span style="margin-left: 15px;">Role: 
                        <span class="small mb-3" th:text="${session.user != null ? session.user.officerId : 'Admin'}"></span>
                    </span>
                    <span style="margin-left: 15px;">Status: 
                        <span class="small mb-3" th:text="${session.user != null ? session.user.designation : 'Active'}"></span>
                    </span>
                </div>

                <!-- Create Task Button -->
                <div class="d-flex justify-content-center text-center pt-2 btn-create-task">
                    <a th:href="@{/taskManager}" class="pl-2" style="letter-spacing:0.1em; font-weight: 500; font-size: 14px;">
                        <kbd class="bg-success"><i class="fas fa-tasks"></i> Create Task</kbd>
                    </a>
                </div>

                <!-- Log Out Button Only Visible If Logged In -->
                <div class="d-flex justify-content-center text-center pt-2 btn-logout">
                    <a th:href="@{/login}" class="pl-2" style="letter-spacing:0.1em; font-weight: 500; font-size: 14px;">
                        <kbd class="bg-danger"><i class="fas fa-power-off"></i> Log Out</kbd>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- **********Left Panel END********** -->



	
<!-- **********Footer********** -->
	<div th:fragment="footer">
		<div id="copyright" style="background-color: #6FC3D8;">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-12 col-md-12">
		       	<div class="row">
		      		<div class="col"><img th:src="@{/images/logo_digital_india.png}" class="" style="height: 30px; " alt="Logo"></div>
		      		<div class="col"><img th:src="@{/images/logo_India_gov.png}" class="" style="height: 30px; " alt="Logo"></div>
		      		<div class="col"><img th:src="@{/images/logo_myGov.png}" class="" style="height: 30px;" alt="Logo"></div>
		      		<div class="col"><img th:src="@{/images/logo_national.png}" class="" style="height: 30px;" alt="Logo"></div>
		      		<div class="col"><img th:src="@{/images/NIC-logo.png}" class="" style="height: 30px;" alt="Logo"></div>
		      	</div>
		      	<div class="copyright-msg"><strong>Software solution by National Informatics Center (NIC), Bihar State Center, Patna. <br>
		        Disclaimer: Content and data are provided by respective govt. departments. NIC bears no responsibility for authentication of content and data.</strong></div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	

	</th:block>